ase
cached-property
certifi
chardet
charset-normalizer
cycler
dataclasses
decorator
googledrivedownloader
h5py
idna
isodate
Jinja2
joblib
kiwisolver
llvmlite
MarkupSafe
matplotlib
networkx
numba
numpy
pandas
Pillow
pyparsing
python-dateutil
python-louvain
pytz
PyYAML
rdflib
requests
scikit-learn
scipy
six
thop
threadpoolctl
torch
torch-cluster
torch-geometric
torch-scatter
torch-sparse
torch-spline-conv
torchaudio
torchvision
tqdm
typing-extensions
urllib3
xlrd





# ase==3.22.1
# cached-property==1.6.0
# certifi==2023.7.22
# chardet==5.1.0
# charset-normalizer==3.5.1
# cycler==0.11.0
# dataclasses==0.6  # Latest; no updates available as it is part of the Python standard library from 3.7 onwards
# decorator==5.1.1
# googledrivedownloader==0.4  # No updates; latest version
# h5py==3.9.0
# idna==3.4
# isodate==0.6.1
# Jinja2==3.1.2
# joblib==1.3.2
# kiwisolver==1.4.5
# llvmlite==0.41.1
# MarkupSafe==2.1.3
# matplotlib==3.8.0
# networkx==3.1
# numba==0.58.1
# numpy==1.26.0
# pandas==2.1.2
# Pillow==10.0.1
# pyparsing==3.1.1
# python-dateutil==2.8.2
# python-louvain==0.16
# pytz==2023.3
# PyYAML==6.0.1
# rdflib==6.3.2
# requests==2.31.0
# scikit-learn==1.3.1
# scipy==1.11.3
# six==1.16.0
# thop==0.1.1.post2209072238
# threadpoolctl==3.2.0
# torch==2.0.1+cu118
# torch-cluster==1.6.1
# torch-geometric==2.4.0
# torch-scatter==2.1.1
# torch-sparse==0.6.17
# torch-spline-conv==1.2.2
# torchaudio==2.0.1+cu118
# torchvision==0.15.2+cu118
# tqdm==4.66.1
# typing-extensions==4.8.0
# urllib3==2.0.8
# xlrd==2.0.1  # No updates; latest version
